body{
    background-color: #A1C6EA;
}
header{
    background-color: #507DBC;
    padding: 25px;
}
nav{
    background-color: #DAE3E5;
    padding: 10px;
}
section{
    background-color: #BBD1EA;
}
article{
    background-color: #507DBC;
}
aside{
    background-color: #04080F;
    width: 30%;
    float: right;
}
footer{
    background-color: #507DBC;
    padding: 40px;
}
.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
}
.footer-section{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.about{
    text-align: center;
}
.about h2{
    margin-bottom: 20px;
}
.about p{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.about h1{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: white;
}
.contact-links{
    display: flex;
    justify-content: center;
}
.contact-links a{
    display: inline-block;
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition: all 0.3s ease;
}
.contact-links a:hover{
    transform: translateY(-7px);
}


img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-style: solid;
    border-color: black;
    border-spacing: 15px;
    border: 5px double grey;
}
table{
    background-color: whitesmoke;
}
cc{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: grey;
}